/*************************** Announcement Section Styles ****************************/


@mixin announcement-panel ($media-min, $media-max, $padding-min, $padding-max) {

	$d: ($padding-max - $padding-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$padding: $i + $padding-min;

			@include rem(padding-top, $padding);

//			@include rem(line-height, round($font-size * 1.25));
//			@include rem(margin-bottom, round($font-size * 0.75));

		}
	}
}




@mixin announcement-h2 ($media-min, $media-max, $font-size-min, $font-size-max) {

	$d: ($font-size-max - $font-size-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$font-size: $i + $font-size-min;

			@include rem(font-size, $font-size);

			@include rem(line-height, round($font-size * 1.25));
			@include rem(margin-bottom, round($font-size * 0.75));

		}
	}
}


@mixin announcement-p ($media-min, $media-max, $font-size-min, $font-size-max) {

	

	$d: ($font-size-max - $font-size-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$font-size: $i + $font-size-min;

			@include rem(font-size, $font-size);

			@include rem(line-height, round($font-size * 1.67));
//			@include rem(margin-top, round($font-size * 1.31));

			&:not(:first-child) {
//				background-color: red;
				@include rem(margin-bottom, round($font-size * 2.39));
			}

		}
	}
}



@mixin announcement-panel-text-margin ($media-min, $media-max, $margin-min, $margin-max) {


	/*!!!*/


	$d: ($margin-max - $margin-min) / 1%;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$margin: $i + $margin-min;

			margin-left: $margin;
			margin-right: $margin;

//			@include rem(padding-top, $padding);

//			@include rem(line-height, round($font-size * 1.25));
//			@include rem(margin-bottom, round($font-size * 0.75));

		}
	}
}







.announcement {

	background-color: rgba(255,0,255,0.2);

	position: relative;

	clear: both;

	@include rem(max-width, 1368px);
	margin: 0 auto;


/**
	@include media('screen', '<tablet-wide') {
		padding-bottom: 20%;
	}
/**/


	h1 {

//		background-color: rgba(0,255,255,0.2);

		color: $font-color;

		font-family: "Source-Sans-Pro-Light";
		@include rem(font-size, 48px);

//		margin: 80px 7%;
//		@include rem(margin-top, 80px);
//		@include rem(margin-top, 80px);
		@include rem(padding-top, 80px);

		margin-left: 7%;
		margin-right: 7%;

	}

	img {

		opacity: 0.5;

		vertical-align: top;
		margin-left: 5%;
		@include rem(margin-top, 88px);

		@include media('screen', '<tablet-wide') {
			width: 90%;
			@include rem(max-width, 768px);
		}

/**/
		@include media('screen', '>=tablet-wide') {
			width: 52%;
			@include rem(min-width, 620px);
	
//			margin-left: 5%;
//			@include rem(margin-top, 88px);
		}
		
/**/





	}

	.panel {

		background-color: $dark-purple;
		color: $light-gray;

		position: absolute;
		bottom: 0;

		@include rem(padding-bottom, 4px);


		@include media('screen', '<tablet-wide') {
			width: 80%;
			right: 0;
		}
		

		@include media('screen', '>=tablet-wide') {
			left: 47.5%;
			width: 47.5%;
		}
		







//		@include rem(padding-bottom, 48px);
//		@include rem(padding-top, 48px);


		@include announcement-panel (320px, 1024px, 30px, 48px);

		@include announcement-panel (1024px, 1368px, 42px, 47px);

		@include media('screen', '>=1368px') {
			@include rem(padding-top, 48px);
		}



		h2 {

			background-color: rgba(0,0,255,0.2);

			font-family: "Source-Sans-Pro-Light";

//			margin-left: 11%;
//			margin-right: 11%;

			
			@include announcement-panel-text-margin (320px, 1024px, 4%, 10%);

			@include media('screen', '>=1024px') {
				margin-left: 11%;
				margin-right: 11%;
			}


//			@include rem(font-size, 36px);
//			@include rem(line-height, 45px);
//			@include rem(margin-bottom, 27px);



			@include announcement-h2 (320px, 1024px, 24px, 36px);

			@include announcement-h2 (1024px, 1368px, 28px, 35px);

			@include media('screen', '>=1368px') {
				@include rem(font-size, 36px);
				@include rem(line-height, 45px);
				@include rem(margin-bottom, 27px);
			}



			
			
		}

		p {
			background-color: rgba(0,255,255,0.2);

//			@include rem(font-size, 18px);
//			@include rem(line-height, 30px);


//			margin-left: 11%;
//			margin-right: 11%;

			@include announcement-panel-text-margin (320px, 1024px, 5%, 10%);

			@include media('screen', '>=1024px') {
				margin-left: 11%;
				margin-right: 11%;
			}

			&:first-child {
//				background-color: red;
				@include rem(margin-top, 60px);
//				@include rem(margin-bottom, 72px);
				@include rem(margin-bottom, 60px);
			}

//			&:not(:first-child) {
////				background-color: red;
//				@include rem(margin-bottom, 43px);
//			}

			
			@include announcement-p (320px, 1024px, 16px, 18px);

			@include announcement-p (1024px, 1368px, 16px, 17px);

			@include media('screen', '>=1368px') {

				@include rem(font-size, 18px);
				@include rem(line-height, 30px);

				&:not(:first-child) {
					@include rem(margin-bottom, 43px);
				}

			}



			a {
//				color: $light-gray;
				color: $white;
				text-decoration: none;
			}
			
		}
	}





	.col {

//		padding-top: 70px;
		@include rem(padding-top, 70px);
//		@include rem(padding-bottom, 145px);
		@include rem(padding-bottom, 74px);

		vertical-align: middle;

		&:first-child {
			padding-left: 10%;
			padding-right: 5%;
		}
		&:last-child {
			padding-left: 5%;
			padding-right: 10%;
		}

		h2 {
			color: $font-color;
			font-family: "Source-Sans-Pro-Light";
			@include rem(font-size, 36px);
			@include rem(line-height, 45px);
		}

		p, 
		ul {

			color: $gray;

			@include rem(font-size, 18px);
			@include rem(line-height, 30px);

			a {
				color: $purple;
				text-decoration: none;
			}
		}

		p {
//			background-color: rgba(255,0,0,0.2);
			@include rem(margin-top, 32px);
		}

		ul {
//			background-color: rgba(255,0,255,0.2);

			position: relative;
//			@include rem(margin-top, 18px);
			@include rem(margin-left, 24px);

			

			li {
				@include rem(margin-top, 18px);

				&:before {
//					background-color: rgba(0,255,255,0.2);
					content: "—";
					position: absolute;
//					left: -24px;
					@include rem(left, -24px);
				}

				p {
					margin-top: 0;
				}
			}
		}

		img {
			vertical-align: middle;

			margin: 0;
//			vertical-align: top;
//			opacity: 0.5;
		}
	}

}