/*************************** Banner-Top Section Styles ****************************/

%banner-top-pos {
	position: relative;




//	width: 50%;
//	width: 45%;
//	width: 48%;


	@include rem(max-width, 684px);
//	left: 50%;
//	left: 55%;
	left: 58%;
	@include translate (-100%, 0);


}




.banner-top {
//	background-color: rgba(255,0,0,0.2);

	clear: both;

	position: relative;

	overflow: hidden;

	@include rem(padding-bottom, 176px);

	h1 {

//		background-color: rgba(255,255,0,0.2);

		@extend %banner-top-pos;

		color: $font-color;

		font-family: "Source-Sans-Pro-Light";
		@include rem(font-size, 58px);

		@include rem(line-height, 72px);

		@include rem(margin-top, 76px);

		width: 48%;

		

	}

	h3 {

		@extend %banner-top-pos;

//		background-color: rgba(255,0,255,0.2);

		color: $gray;

		@include rem(font-size, 21px);

		@include rem(line-height, 32px);

		@include rem(margin-top, 26px);

		width: 48%;

		

	}

	.button {
		@extend %banner-top-pos;

		@include rem(margin-top, 76px);
	}


	img {
		width: 100%;
//		opacity: 0.5;

		position: absolute;
		display: block;
		bottom: 0;
		z-index: -1;
	}
}
