/*************************** Header Styles ****************************/


@mixin header ($media-min, $media-max, $padding-min, $padding-max) {
	/*!!!*/
	$d: ($padding-max - $padding-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {

			$padding: $i + $padding-min;
			@include rem(padding, $padding 0);


			&:before,
			&:after {
				@include rem(margin-top, round($padding * 1.3 + 4px));
			}

			.button {
				@include rem(margin-top, round($padding * 3 + $d - $i));
			}

			.button + ul {
				&:before {
					@include rem(height, round($padding * 3 + 20px));
				}

				&:after {
					@include rem(top, round($padding * 1.3));
				}
			}
		}
	}
}


@mixin header-img-width ($media-min, $media-max, $width-min, $width-max) {
	$d: ($width-max - $width-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$width: $i + $width-min;
			@include rem(width, $width);
		}
	}
}





@mixin header-li-padding ($media-min, $media-max, $padding-min, $padding-max) {
	$d: ($padding-max - $padding-min) / 1px;
	@for $i from 0 through $d {
		$step: ($media-max - $media-min) / ($d + 1);
		$min: $i * $step + $media-min;
		$max: $min + $step;
		@include media('>=' + round($min), '<' + round($max)) {
			$padding: $i + $padding-min;
			@include rem(padding, 0 $padding 8px);
		}
	}
}






/**/
body {
	@include media('screen', '<tablet-wide') {


/**/
		section,
		.group,
		footer {
			display: none;
		}
/**/



		&:not(.menu-active) {



			overflow-y: scroll;



			header {

//				background-color: rgba(0,0,255,0.5);
//				background-color: $light-gray;



/**/
				&:before {
					top: 0;
				}
				&:after {
					@include rem(top, 14px);
				}
/**/
				.button {
					display: none;
				}

				.button + ul {

//					position: absolute;
//					background-color: red;

//					top: 200px;

					li {
						display: none;
					}
				}


			}

		}

		&.menu-active {

			overflow-y: hidden;

			header {

//				background-color: rgba(0,255,0,0.3);
				background-color: $purple;

				overflow-y: scroll;



				
				bottom: 0;
//				bottom: auto;


/**/
				&:before,
				&:after {
					@include rem(top, 7px);
				}
				&:before {
					@include rotate (45);
				}
				&:after {
					@include rotate (-45);
				}
/**/

//				.button,
//				ul {
//					display: none;
//				}

				.button {
					display: table;
					margin-left: 5%;
				}

				.button + ul {

//					background-color: rgba(0,0,255,0.2);
/**/
					@include rem(padding-top, 14px);
//					@include rem(padding-top, 32px);
					@include rem(padding-bottom, 32px);
					padding-left: 5%;
					padding-right: 5%;
/**/
				}

			}

		}



	}
}




header {
//	background-color: rgba(255,255,0,0.7);
//	background-color: $light-gray;

//	margin: 0 auto;

//margin: 43px 0 0 70px;
//margin: 40px 0 0 70px;
//margin: 40px auto;

//display: inline-block;

//padding: 0 5%;



//	@include rem(margin, 44px auto);
//	@include rem(margin, 40px auto);


	margin: 0 auto;
//	@include rem(padding, 40px 0);



//	@include rem(padding, 16px 0);
//	padding: 3% 0;


///	@include rem(padding, 0 72px);

//	margin: 0 auto;


//	@include rem(max-width, 1226px);
//	width: 100%;
	@include rem(max-width, 1368px);



	@include media('screen', '<320px') {
		@include rem(padding, 7px 0);

		&:before,
		&:after {
			@include rem(margin-top, 13px);
		}

		.button {
			@include rem(margin-top, 35px);
		}

		.button + ul {
			&:before {
				@include rem(height, 41px);
			}

			&:after {
				@include rem(top, 9px);
			}
		}

	}

	@include header (320px, 1024px, 8px, 20px);

	@include media('screen', '>=1024px') {
		@include rem(padding, 40px 0);
	}



	img {
//		background-color: rgba(0,255,0,0.4);

//		@include rem(width, 170px);
//		@include rem(width, 120px);

		@include media('screen', '<320px') {
			@include rem(width, 119px);
		}
		@include header-img-width (320px, 1024px, 120px, 169px);
		@include media('screen', '>=1024px') {
			@include rem(width, 170px);
		}


//		width: 12.4%;

		@include rem(margin-top, 3px);

		margin-left: 5%;

//		display: none;

//		opacity: 0.5;
	}


	.button {
		font-weight: bold;
		@include rem(font-size, 13px);

//		color: $purple;

		background-color: transparent;

//		&:hover {
//			color: $white;
//			border-color: $purple;
//			background-color: $purple;;
//		}
	}


	.button + ul {



		a {
			text-decoration: none;
		}

		li {
			@include rem(font-size, 18px);

			

			ul {

				li {
					@include rem(font-size, 16px);
					@include rem(line-height, 20px);
				}
			}
		}
	}



	@include media('screen', '<tablet-wide') {






		position: fixed;
		top: 0;
		right: 0;
		left: 0;

		z-index: 1;


		&:before,
		&:after {
			background-color: #1c1c1c;
//			background-color: rgba(255,0,0,0.8);

			content: "";
			position: absolute;
//			position: fixed;
			right: 6%;
			
			@include rem(width, 23px);
			@include rem(height, 2px);
//			margin-top: 10px;
		}

		.button {

			border-color: $white;

			&:hover {
				color: $purple;
				border-color: $white;
				background-color: $white;
			}

		}

		.button + ul {


			color: $white;
//			color: rgba(255,255,255,0.7);


//			@include rem(padding, 14px 0 32px);	

/**
			@include rem(padding-top, 14px);
			@include rem(padding-top, 32px);
			padding-left: 5%;
			padding-right: 5%;
/**/
	
			pointer-events: none;
			cursor: pointer;





			&:before {
//				background-color: rgba(0,255,255,0.5);
				background-color: $light-gray;
	
				content: "";
				position: absolute;
	
				top: 0;
				left: 0;
				right: 0;
//				bottom: 30px;
//				height: 100px;
				z-index: -1;
			}
/**/
			&:after {
//				background-color: rgba(255,0,255,0.5);

				pointer-events: auto;
	
				content: "";
				position: absolute;
	
				@include rem(width, 23px);
				@include rem(height, 24px);
	
//				top: 25px;
				right: 6%;
	
//				top: 0;
//				left: 0;
//				right: 0;
//				bottom: 30px;
//				height: 100px;
				z-index: 1;
			}		
/**/
			a {
//				background-color: red;
				color: $white;
			}

			li {

//				background-color: rgba(255,0,0,0.3);

				cursor: default;
				pointer-events: auto;

//				@include rem(padding-top, 32px);
				@include rem(padding-top, 16px);
				@include rem(padding-bottom, 16px);
				
				position: relative;

				ul {

//					background-color: rgba(0,255,0,0.3);

//					height: 0;
					overflow: hidden;



					&:not(.active) {

//						background-color: rgba(0,255,0,0.3);

						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;

						cursor: pointer;

						li {
							display: none;
						}
					}

					&.active {

//						background-color: rgba(0,255,0,0.3);

//						@include rem(padding-top, 16px);
						@include rem(margin-top, 16px);


						li {
//							border-top: 1px solid red;
							border-top: 1px solid rgba(255,255,255,0.3);

							@include rem(padding-left, 16px);
							@include rem(padding-right, 16px);

							&:last-child {
//								border-bottom: 1px solid red;
								border-bottom: 1px solid rgba(255,255,255,0.3);
							}
					 	}
					}

					 
				}
			}
		}






	}
	


	@include media('screen', '>=tablet-wide') {

//		background-color: rgba(255,255,0,0.7);
		background-color: $light-gray;


		.button {
			color: $purple;

			&:hover {
				color: $white;
				border-color: $purple;
				background-color: $purple;
			}

		}
	
	
		ul {
	
	//		background-color: rgba(255,0,0,0.2);
	
			cursor: default;
	
			display: inline-block;
	
	//		position: relative;
	
			float: right;
	
			color: $font-color-header;
	
	
			@include rem(margin, 18px 42px 0);
	
			li {
	
	//			background-color: rgba(0,0,255,0.2);
	
				display: inline-block;
	
				position: relative;
	
				
	
	
//				@include rem(font-size, 18px);
	
				
	
				&:not(.active) {
	
					ul {
						&.active {
							@include rem(top, 6px);
						}
					}
				}
	
				&.active {
					border-bottom: 3px solid $purple;
					ul {
						&.active {
							@include rem(top, 12px);
						}
					}
				}
	
				a {
					color: $font-color-header;
//					text-decoration: none;
	
					&:hover {
						color: $purple;
					}
	
	
				}
	
				ul {
	
	//				background-color: rgba(0,255,0,0.8);
	
					position: absolute;
	
					overflow: hidden;
	
					z-index: 1;
					
	
					@include rem(padding-top, 14px);
	
	
	
					&:not(.active) {
						cursor: pointer;			
						@include rem(top, -18px);
						@include rem(left, -42px);
						width: 100%;
	
						li {
							display: none;
						}
					}
	
				
	
					&.active {
						@include rem(left, -42px);
	//					cursor: default;
	//					@include rem(top, 9px);
						width: 170%;
	
	//---------------------------------------------------
	//					li {
	//
	////						opacity: 0;
	////						top: -200px;
	//
	//					}
	//---------------------------------------------------
					}
					
	
	
	
	
					
	
					li {
	
	//					cursor: default;
	
						
	
	//					background-color: rgba(255,255,0,0.5);
						background-color: $purple;
	
						color: $font-color;
	
//						@include rem(font-size, 16px);
	
	
						&:first-child {
	
							@include rem(padding-top, 14px);
	
							&:before {
								position: absolute;
								content: "";
								@include rem(top, -13px);
								width: 0;
								height: 0;
								border-style: solid;
	//							border-width: 0 14px 14px 14px;
								@include rem(border-width, 0 14px 14px 14px);
	//							border-color: transparent transparent #007bff transparent;
								border-color: transparent transparent $purple transparent;
	
							}
						}
	
						&:not(:first-child) {
							&:before {
								content: "";
								position: relative;
								display: block;
								background-color: $white;
								opacity: 0.3;
	
								@include rem(height, 1px);
								@include rem(top, -8px);
							}
	
						}
						&:not(:first-child) {
							@include rem(padding-top, 8px);
						}
	
						&:last-child {
							@include rem(padding-bottom, 14px);
						}
	
	
						
						a {
							color: $white;
							&:hover {
								color: $font-color;
							}
						}
						
	
											
	
					}
				}
			}
	
			
		}
	
	
	
	
	
		.button {
			float: right;
	
			margin-right: 5%;
		}

	}



	ul {
		li {
			@include header-li-padding (1024px, 1248px, 16px, 21px);
			@include media('screen', '>=1248px') {
				@include rem(padding, 0 22px 8px);
			}
		}
	}




}